<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

   <profiles>
      <profile>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>releases</id>
               <name>Unidal Releases</name>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
               <url>http://unidal.org/nexus/content/repositories/releases</url>
               <layout>default</layout>
            </repository>
            <repository>
               <id>snapshots</id>
               <name>Unidal Snapshots</name>
               <releases>
                  <enabled>false</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
               <url>http://unidal.org/nexus/content/repositories/snapshots</url>
               <layout>default</layout>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>plugins</id>
               <name>Unidal Plugins</name>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
               <url>http://unidal.org/nexus/content/repositories/releases</url>
               <layout>default</layout>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>

</settings>
